repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.1.0
    hooks:
      - id: check-added-large-files
      - id: check-docstring-first
      - id: check-json
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: debug-statements
      - id: detect-private-key
      - id: name-tests-test
        args: [--django]
      - id: requirements-txt-fixer
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.2
    hooks:
      - id: flake8
        args: ["--ignore=E501,W292","--max-line-length=119"]
  - repo: https://github.com/psf/black
    rev: 19.10b0
    hooks:
      - id: black
        args: ["--line-length=120","--skip-string-normalization"]
#   - repo: https://github.com/hcodes/yaspeller.git
#     rev: v7.0.0
#     hooks:
#       - id: yaspeller
#         exclude: .y(a?)ml
